body{
font-size: larger;
   background:linear-gradient(pink 30%, blue 90%);
    background-repeat:no-repeat;
  }
  #img{

  }
    h1{
    text-shadow:2px 1px;
    font-size:20px;
  }
  img{
    border-radius:50%;
      width:350px;
  }